# Lab 1 - Playing with IRIS Dataset
## Coder Name: Janojit Chakraborty
## Coder Registration Number: 21112011

### Objective
- Exploring Pandas Library
- Get Basic Knowledge About Pandas Library
- Gaining Knowledge about Dataset and DataFrame

### Problem Definition

Using the Pandas Library, along with Basic Programming Commands for performing the Following Tasks:

1) Import the Toy IRIS Dataset [1 Mark] <br>
2) Print the Head and Tail of the Dataset (first 5 and last 5 entries) [1 Mark] <br>
3) Create a New Column named "Average" and find the Average of existing four features and store the same [2 Marks] <br>
4) Create a New Column named "Sum" and find the Sum of existing four features and store the same [2 Marks] <br>
5) Check how many entires of "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" are present in the Dataset [2 Marks] <br>
6) Find the Descriptive Statistics about all the Six Columns (existing four + two made-up features) [2 Marks] <br>
7) Find the entries whose Sum Values are more than a User Input [3 Marks] <br>
8) Find the entries whose Sepal_Length is greater than Petal_Width [2 Marks] <br>

Documentation, Formatting and Standard Programming: 5 Marks

### Approach/Methods
- **For Question 1**: I need Sklearn to import Toy IRIS dataset and I also need Pandas convert it to DataFrame.
- **For Question 2**: I will use Pandas methods to fetch first and last 5 entries.
- **For Question 3**: I will use Pandas to create a new attribute. And I will use indexing to fetch all four features and will take the average of them entry-wise.
- **For Question 4**: I will use Pandas to create a new attribute. And I will use indexing to fetch all four features and will add them entry-wise.
- **For Question 5**: I need to decode the label encoding of "Target" attribute and then I will try to found its counts.
- **For Question 6**: I will use a Pandas method to find the descriptive Statistics about all the Six Columns.
- **For Question 7**: I will use 2D Indexing to solve.
- **For Question 8**: I will use 2D Indexing to solve.

### Observation:

- **From Question 1**: First I imported IRIS dataset using Sklearn packages. I converted the dataset into dataFrame using Pandas. Then I have mapped target values 0 as Iris-Setosa, 1 as Iris-Versicolour and 2 as Iris-Virginica.<br>
- **From Question 2**: I found head and tail which means the first and last 5 observation using Pandas.<br>
- **From Question 3**: I created an Attribute "Average" and input values based on the average of all four features in each entries.<br>
- **From Question 4**: I created an Attribute "Sum" and input values based on the summation of all four features in each entries.<br>
- **From Question 5**: I used a pandas command "value_counts()" and found how many entries as per each categorical variable.<br>
- **From Question 6**: I used a pandas command "describe()" and found Different Statistical measurements about the attributes of the DataFrame.<br>
- **From Question 7**: Using 2D Indexing I have fetched entries whose Sum Values are more than a User Input.<br>
- **From Question 8**: Using 2D Indexing I have fetched entries whose Sepal_Length is greater than Petal_Width.<br>

### Results:
- **Question 1**: Got the IRIS dataset in DataFrame format.
- **Question 2**: Found first and last 5 entries in the DataFrame.
- **Question 3**: Got a new attribute/column "Average" based on other attributes.
- **Question 4**: Got a new attribute/column "Sum" based on other attributes.
- **Question 5**: Found that "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" all have 50 entries each.
- **Question 6**: Found count, mean value, standard deviation, minimum value, maximum value, 25%, 50% and 75% of all 6 attributes.
- **Question 7**: Found the entries whose Sum Values are more than a User Input.
- **Question 8**: Found the entries whose Sepal_Length is greater than Petal_Width.

### Learnings & Reflection:
- Able to explore Pandas library.
- Get to know about different features of Pandas library.
- Get to know about difference between Dataset and DataFrame.
- Get to know about Label Encoding.
- Get to know about 2D indexing.

Name: **Janojit Chakraborty** <br>
Reg No: **21112011** <br>
Class: **3 BSC DS** <br>

---------------


| Question Number | Status |
| --- | --- |
| 1 | __Completed__ |
| 2 | __Completed__ |
| 3 | __Completed__ |
| 4 | __Completed__ |
| 5 | __Completed__ |
| 6 | __Completed__ |
| 7 | __Completed__ |
| 8 | __Completed__ |

<br>

# Code:

In [1]:
# Importing Libraries 

import pandas as pd
import numpy as np
import matplotlib as plt

### Question 1

In [2]:
# Importing IRIS Dataset

from sklearn import datasets

iris = datasets.load_iris()
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

df["target"] = iris.target

target_names = {0: "Iris-Setosa", 1: "Iris-Versicolour", 2:"Iris-Virginica" }

df['target'] =df['target'].map(target_names)

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-Setosa
1,4.9,3.0,1.4,0.2,Iris-Setosa
2,4.7,3.2,1.3,0.2,Iris-Setosa
3,4.6,3.1,1.5,0.2,Iris-Setosa
4,5.0,3.6,1.4,0.2,Iris-Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-Virginica
146,6.3,2.5,5.0,1.9,Iris-Virginica
147,6.5,3.0,5.2,2.0,Iris-Virginica
148,6.2,3.4,5.4,2.3,Iris-Virginica
149,5.9,3.0,5.1,1.8,Iris-Virginica

**Observation** : First I converted the dataset into dataFrame using Pandas. Then I have mapped target values 0 as Iris-Setosa, 1 as Iris-Versicolour and 2 as Iris-Virginica.

### Question 2

In [3]:
# Printing the Head of the Dataset

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-Setosa
1,4.9,3.0,1.4,0.2,Iris-Setosa
2,4.7,3.2,1.3,0.2,Iris-Setosa
3,4.6,3.1,1.5,0.2,Iris-Setosa
4,5.0,3.6,1.4,0.2,Iris-Setosa

In [4]:
# Printing the Tail of the Dataset

df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,Iris-Virginica
146,6.3,2.5,5.0,1.9,Iris-Virginica
147,6.5,3.0,5.2,2.0,Iris-Virginica
148,6.2,3.4,5.4,2.3,Iris-Virginica
149,5.9,3.0,5.1,1.8,Iris-Virginica

**Observation** : I found head and tail which means the first and last 5 observation using Pandas.

### Question 3

In [5]:
# Creating a New Column named "Average" and find the Average of existing four features and store the same

df['Average'] = (df['sepal length (cm)'] + df['sepal width (cm)'] + df['petal length (cm)'] + df['petal width (cm)'])/4

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,Average
0,5.1,3.5,1.4,0.2,Iris-Setosa,2.550
1,4.9,3.0,1.4,0.2,Iris-Setosa,2.375
2,4.7,3.2,1.3,0.2,Iris-Setosa,2.350
3,4.6,3.1,1.5,0.2,Iris-Setosa,2.350
4,5.0,3.6,1.4,0.2,Iris-Setosa,2.550
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-Virginica,4.300
146,6.3,2.5,5.0,1.9,Iris-Virginica,3.925
147,6.5,3.0,5.2,2.0,Iris-Virginica,4.175
148,6.2,3.4,5.4,2.3,Iris-Virginica,4.325
149,5.9,3.0,5.1,1.8,Iris-Virginica,3.950

**Observation**: I created an Attribute "Average" and input values based on the average of all four features in each entries.<br>

### Question 4

In [6]:
# Creating a New Column named "Sum" and find the Sum of existing four features and store the same

df['Sum'] = (df['sepal length (cm)'] + df['sepal width (cm)'] + df['petal length (cm)'] + df['petal width (cm)'])

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,Average,Sum
0,5.1,3.5,1.4,0.2,Iris-Setosa,2.550,10.2
1,4.9,3.0,1.4,0.2,Iris-Setosa,2.375,9.5
2,4.7,3.2,1.3,0.2,Iris-Setosa,2.350,9.4
3,4.6,3.1,1.5,0.2,Iris-Setosa,2.350,9.4
4,5.0,3.6,1.4,0.2,Iris-Setosa,2.550,10.2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-Virginica,4.300,17.2
146,6.3,2.5,5.0,1.9,Iris-Virginica,3.925,15.7
147,6.5,3.0,5.2,2.0,Iris-Virginica,4.175,16.7
148,6.2,3.4,5.4,2.3,Iris-Virginica,4.325,17.3
149,5.9,3.0,5.1,1.8,Iris-Virginica,3.950,15.8

**Observation** : I created an Attribute "Sum" and input values based on the summation of all four features in each entries.

### Question 5

In [7]:
# Checking how many entires of "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" are present in the Dataset

df.target.value_counts()

Iris-Setosa         50
Iris-Versicolour    50
Iris-Virginica      50
Name: target, dtype: int64

**Observation** : I used a pandas command "value_counts()" and found how many entries as per each categorical variable.

### Question 6

In [8]:
# Finding the Descriptive Statistics about all the Six Columns (existing four + two made-up features)

df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Average,Sum
count,150.000000,150.000000,150.000000,150.000000,150.00000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,3.46450,13.858000
std,0.828066,0.435866,1.765298,0.762238,0.78094,3.123762
min,4.300000,2.000000,1.000000,0.100000,2.10000,8.400000
25%,5.100000,2.800000,1.600000,0.300000,2.67500,10.700000
50%,5.800000,3.000000,4.350000,1.300000,3.57500,14.300000
75%,6.400000,3.300000,5.100000,1.800000,4.06250,16.250000
max,7.900000,4.400000,6.900000,2.500000,5.10000,20.400000

**Observation** : I used a pandas command "describe()" and found Different Statistical measurements about the attributes of the DataFrame.

### Question 7

In [9]:
# Finding the entries whose Sum Values are more than a User Input

n = int(input("Enter A INTEGER Value: "))

df[df['Sum']>n]

Enter A INTEGER Value: 11

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,Average,Sum
5,5.4,3.9,1.7,0.4,Iris-Setosa,2.850,11.4
14,5.8,4.0,1.2,0.2,Iris-Setosa,2.800,11.2
15,5.7,4.4,1.5,0.4,Iris-Setosa,3.000,12.0
16,5.4,3.9,1.3,0.4,Iris-Setosa,2.750,11.0
18,5.7,3.8,1.7,0.3,Iris-Setosa,2.875,11.5
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-Virginica,4.300,17.2
146,6.3,2.5,5.0,1.9,Iris-Virginica,3.925,15.7
147,6.5,3.0,5.2,2.0,Iris-Virginica,4.175,16.7
148,6.2,3.4,5.4,2.3,Iris-Virginica,4.325,17.3
149,5.9,3.0,5.1,1.8,Iris-Virginica,3.950,15.8

**Observation** : Using 2D Indexing I have fetched entries whose Sum Values are more than a User Input.

### Question 8

In [10]:
# Findinng the entries whose Sepal_Length is greater than Petal_Width


df[df['sepal length (cm)']>df['petal width (cm)']]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,Average,Sum
0,5.1,3.5,1.4,0.2,Iris-Setosa,2.550,10.2
1,4.9,3.0,1.4,0.2,Iris-Setosa,2.375,9.5
2,4.7,3.2,1.3,0.2,Iris-Setosa,2.350,9.4
3,4.6,3.1,1.5,0.2,Iris-Setosa,2.350,9.4
4,5.0,3.6,1.4,0.2,Iris-Setosa,2.550,10.2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-Virginica,4.300,17.2
146,6.3,2.5,5.0,1.9,Iris-Virginica,3.925,15.7
147,6.5,3.0,5.2,2.0,Iris-Virginica,4.175,16.7
148,6.2,3.4,5.4,2.3,Iris-Virginica,4.325,17.3
149,5.9,3.0,5.1,1.8,Iris-Virginica,3.950,15.8

**Observation** : Using 2D Indexing I have fetched entries whose Sepal_Length is greater than Petal_Width.